doctype html
html
  head
    title Journalling
    link(rel='stylesheet', href='../../style.css')
    block head
  body

    div#header
      block header

    div#content
      block content

    div#footer
      
  block tail